.Header {
  padding: 20px;
  background-color: black;

  position: fixed;
  z-index: 10;
  width: 105%;
  font-size: 1.5rem;
  color: white;
}
.ram {
  list-style: none;
  text-decoration: none;
  color: azure;
}
